/* change entire background to light grey */
*{
    font-family: 'Raleway', sans-serif;
}
body{
        background-color: white;
}
@media screen and (min-width:800px){
    body{
        background-color: rgb(220,220,220);
    }
}
/*header allignment */
header{
    text-align: center;
    color: #6699cc;
    display: block;
}

/* name ID font change */
#name{
    font-size: 1.5em;
}

#journalHeader{
    font-size: 5.5ex;
    height: 22px;
    width: 400px;
    padding: 0px 0px 2px 80px;
}

/* flex Box for nav bar */
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.myNav{
    font-size: 1.3rem;
    position: static;
}
.myForm{
    width: 500px;
    margin: auto;
    padding: 5px 50px 5px 60px;
}

/*Grid Starts */
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    padding: 2px;
    display: inline-flexbox;
}

.entry1{
    grid-row-end: 1;
    grid-row-end:2;
}
.entry2{
     grid-row-start: 1;
     grid-row-end: 2;
}
.entry3{
    grid-row-start: 1;
}

/*Grid Ends*/
/* change links to be black*/
a{
    color:black
}
[id~="name"]:hover{
    background-color:black;
}
a:active{
    background-color: darkslateblue;
}
/* hover over links to turn color green */
a:hover{
    color: green;
    text-shadow: black;
}

/*Element Selectors*/
h1{
    text-decoration: underline;
    font-size: 1cm;
}

h2{
    border-style: double;
    max-width: fit-content;
    max-height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 8px;
    border-color: #2e75b6;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

h3{
    color:cornflowerblue;
    font-size:20px;
}

h4{
    color:darkslategray;
    font-size:.19in;
}

h3, h4{
    text-transform: uppercase;
}
div > section{
    text-indent: 10px;
    text-shadow:grey 1px 1px 5px;
    
}
h3+ul {
    text-decoration: line-through;
}
 h4 ~ ol {
    font-style: italic;
}
a.myNav{
    background-color: #d4e2eb;
}
p{
    display: inline; 
}